<!DOCTYPE html>
<html lang="es">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <img src="/images/rect895.png" alt="{{ site.title }}">
        </a>
        <ul>
          <li><a href="{{ '/acerca/' | prepend: site.baseurl }}">Acerca</a></li>
          <li><a href="{{ site.baseurl }}/">Posts</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. Made with Jekyll using the <a href="https://github.com/chesterhow/tale/">Tale</a> theme.
      </span>
    </footer>
  </body>
</html>
